@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.p{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.h1 {
    font-size: 64px;
    color: #1F3F68;
}

.h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3 {
    font-size: 36px;
    text-align: center;
}

.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.form {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.back_form {
    background-image: url('fon.jpg');
}

.submit_button {
    background: linear-gradient(90deg, #5A98D0 0%, #3168A6 100%);
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 0;
    list-style: none;
    background-image: linear-gradient(to bottom, #e9f0f2, #387f7f);
    border-radius: 0 1.5rem 1.5rem 0;
    overflow: hidden;

}

.menu a {
    padding: .5rem 1rem;
    border-radius: 0 1.5rem 1.5rem 0;
    border-right: 2px solid white;
    box-shadow: 1.5px 0 1.5px black;
    color: black;
    text-decoration: none;
}

