@import "./global.css";
@import "./fonts.css";

body {
    margin: 0;
    background-color: rgb(235, 236, 237);
    width: 1440;
    height: 4000;
}

.bold {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.medium {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.header {
    background-color: white;
    margin-top: 20px;
    padding: 16px 24px;
    height: 56px;
    width: 1124px;
    margin-left: 108px;
    border-radius: 12px;
}

.logo {
    float: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.text_blue {
    color: rgba(45, 102, 238, 1)
}

.header_menu {
    float: left;
    margin-left: 40px;
}

.menu {
    margin-top: 0;
    list-style-type: none;
}

.menu_item {
    display: inline-block;
    margin-left: 12px;
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.contacts {
    height: 24px;
    width: 472px;
    margin-left: 80px;
    float: left;
    font-size: 14px;
}

.contacts_phone {
    width: 266px;
    height: 24px;
    float: left;
}

.contacts_email {
    width: 174px;
    height: 24px;
    float: left;
}

.contacts_info {
    margin-left: 8px;
    margin-top: 0;
    float: left;
}

.main_description {
    width:600px;
    height:220px;
    margin-top: 70px;
    margin-left: 106px;
}

.header_text {
    font-size: 36px;
    line-height: 51px;
    font-weight: 700;
}

.main_feedback {
    width: 676px;
    height: 186px;
    margin-top: 64px;
    padding: 24px;
    background-color: white;
    margin-left: 108px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08),
                 0px 0px 24px rgba(0, 0, 0, 0.16);
}

.subheader {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.feedback_form {
    width: 628px;
    height: 58px;
    margin-top: 24px;
}

.feedback_field {
    width: 224px;
    height: 54px;
    float: left;
}

.form_label {
    font-weight: 500;
    font-size: 13px;
    color: rgba(102, 112, 133, 1);
}

#book_email, #book_phone, #contact_phone, #feedback_phone, #feedback_name, #book_name, #contact_name {
    width: 200px;
    height: 30px;
    border: none;
    margin-left: -2px;
    padding-left: 5px;
    border-bottom: 1px solid rgba(208, 213, 221, 1);
}

.feedback_button {
    width: 132px;
    height: 58px;
    border: none;
    background-color: rgba(45, 102, 238, 1);
    padding-top: 11px;
    padding-right: 24px;
    padding-bottom: 11px;
    padding-left: 24px;
    color: white;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
}

.development_info {
    width: 1400px;
    height: 370px;
    background-color: white;
}

.development_technologies {
    margin-left: 108px;
    float: left;
    width: 496px;
    height: 200px;
}

.development_categories {
    margin-top: 35px;
    margin-left: 40px;
    float: left;
    width:233px;
    height: 340px;
}

.development_list {
    list-style-type: none;
}

.development_item {
    height: 40px;
    color: black;
    text-decoration: none;
}

.projects {
    width:1300px;
    height: 370px;
    margin-left: 106px;
}

.project_list {
    width: 1223px;
    height: 280px;
}

.project_column {
    float: left;
    width: 391px;
    height: 280px;
}

.project_item {
    margin-left: 60px;
    width: 391px;
    height: 44px;
}

.project_image {
    position: absolute;
    margin-top: -15px;
    margin-left: -65px;
    width: 3%; 
    height: auto;
}

.clients {
    width: 1230px;
    height: 440px;
    margin-left: 106px;
}

.clients_companies {
    margin-top: 40px;
    width: 1100px;
    height: 58px;
}

.clients_list {
    margin-left: 10px;
    width: 800px;
    height: 58px;
    padding: 0;
    display: inline-block;
    list-style-type: none;
}

.clients_item {
    margin-right: 20px;
    display: inline-block;
    height: 58px;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.clients_button {
    margin-top: 10px;
    float: right;
    width: 207px;
    height: 40px;
    border: none;
    background-color: rgba(45, 102, 238, 1);
    padding: 11px 24px;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.clents_iteka {
    width: 600px;
    height: 300px;
}

.text_color_white {
    color: white;
}

.contact {
    background-color:rgba(45, 102, 238, 1);
    width: 1400px;
    height: 280px;
}

.contact_text {
    margin-left: 108px;
    float: left;
    width:600px;
    height: 168px;
}

.contact_feedback {
    background-color: white;
    width: 600px;
    padding: 10px 20px;
    height:190px;
    float: left;
    margin-top: 45px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08),
                 0px 0px 24px rgba(0, 0, 0, 0.16);
}

.contact_form {
    width: 450px;
    height: 58px;
    margin-top: 24px;
}

.contact_button {
    margin-top: 20px;
    float: right;
    width: 178;
    height: 40;
    border: none;
    background-color: rgba(45, 102, 238, 1);
    padding: 11px 24px;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.development_stages {
    width:1400px;
    height:750px;
    background-color: white;
}

.development_stages_text{
    margin-left: 108px;
    padding-top: 10px;
}

.stage_header {
    font-size: 20px;
    font-weight: 600;
    margin-left: 55px;
}

.stage_image {
    position: absolute;
    margin-top: -60px;
    width: 3%; 
    height: auto;
}

.stage_item {
    margin-left: 108px;
    width: 392px;
    height: 172px;
    background-color: white;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08),
                 0px 0px 24px rgba(0, 0, 0, 0.16);
}

.left_column {
    margin-right: 250px;
}

.book_advert {
    width:1400px;
    height:480px;
    background-color: rgba(45, 102, 238, 1);
}

.book_advert_text{
    margin-left: 108px;
    padding-top: 10px;
}

.book_form {
    margin-left: 108px;
    width: 600px;
    height: 194px;
    background-color: white;
    padding: 20px;
    float: left;
    border-radius: 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08),
                 0px 0px 24px rgba(0, 0, 0, 0.16);
}

.book_form-name {
    margin-top: 17px;
}

.book_button {
    margin-top: 60px;
    width: 225px;
    height: 40px;
    float: right;
    border-radius: 8px;
    background-color: #2D66EE;
    border: none;
    cursor: pointer;
    color: white;
}

.book_image {
    margin-left: 170px;
    margin-top: -160px;
    float: left;
}

.book_image img {
    width:240px;
    height: 420px;
}

.faq {
    width:1400px;
    height:350px;
    background-color: white;
}

.faq_header {
    font-size: 20px;
    font-weight: 600;
    margin-left: 0px;
}

.faq_text{
    padding-top: 10px;
    margin-left: 108px;
}

.faq_questions {
    margin-left: 108px;
    height: 420px;
}

.question {
    margin-right: 40px;
    width:600px;
    height:84px;
    float: left;
    border-top: 0.5px solid rgba(208, 213, 221, 1);
}

.faq_image {
    position: absolute;
    margin-top: -70px;
    margin-left: 545px;
    width: 4%;
    height: auto;
}

.border_bottom {
    border-bottom: 0.5px solid rgba(208, 213, 221, 1);
}

.footer {
    margin-left: 108px;
    width:1224px;
    height:190px;
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(16, 24, 40, 1);
}

.footer_logo {
    width:1200px;
    text-align: center;
}

.footer_main {
    width: 1200px;
    height: 400px;
    float: left;
}

.footer_icon {
    position: absolute;
    margin-top: 12px;
}

.icon_grayscale {
    filter: grayscale(90%) brightness(160%);
}

.footer_item {
    padding-left: 20px;
    float: left;
    width:280px;
    height:60px;
}

.footer_map {
    position: absolute;
    margin-left:-130px;
    margin-top: 16px;
}

.footer_bottom {
    text-align: center;
    padding-top: 80px;
    width:1200px;
}